.container {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.pink {
  background-color: lightpink;
  width: 100px;
}

.blue {
  background-color: lightblue;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowie {
  background-color: black;
  color: white;
  height: 15px;
}