body {
  height: 3000px;
}

.box {
  width: 320px;
  height: 180px;
  background-color: gray;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  position: absolute;
  top: -10px;
  left: -10px;
}

.timestamp {
  color: white;
  background-color: black;
  position: absolute;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  bottom: 8px;
  right: 8px;
}
