body {
  height: 3000px;
}

.container {
  position: relative;
  display: inline-block;
}

.dress {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.discount {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: black;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
