.uber-button {
  background-color: black;
  color: white;
  height: 80px;
  width: 150px;
  border-color: white;
  border: solid;
  border: 1rem solid;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  transition: opacity 0.15s;
}

.uber-button:hover {
  opacity: 0.7;
}
