.github {
  background-color: rgb(46, 164, 79);
  height: 40px;
  width: 100px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.github:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
