p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat;
}
.model {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.statement {
  text-align: center;
  color: grey;
}

.touchless {
  text-decoration: underline;
}
